﻿    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("home", "active")">
                <a href="@Url.Action("index", "home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Główna</span></a>
            </li>

            <li class="@Html.RouteIf("reports", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Raporty</span></a>
                <ul>
                    <li class="@Html.RouteIf("reports", "active")">
                        <a href="@Url.Action("Index", "Reports")">Pełna Lista Sprzedanych Produktów Komisantów</a>
                    </li>
                </ul>
            </li>

            <li class="@Html.RouteIf("brokers", "active") @Html.RouteIf("products", "active") @Html.RouteIf("messages", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Komisanci</span></a>
                <ul>
                    <li class="@Html.RouteIf("brokers", "active")">
                        <a href="@Url.Action("brokers", "Broker")">Lista Komisantów</a>
                    </li>
                    <li class="@Html.RouteIf("messages", "active")">
                        <a href="@Url.Action("SmsMessages", "Messages")">Wsyłanie Sms</a>
                    </li>
                    <li class="@Html.RouteIf("showallproducts", "active")">
                        <a href="@Url.Action("ShowAllProducts", "Products")">Wyszukiwarka</a>
                    </li>
            
                </ul>
            </li>


            <li class="@Html.RouteIf("shopsettings", "active") @Html.RouteIf("CreateShopSettings", "active") @Html.RouteIf("ConfirmDeleteShopSettings", "active") @Html.RouteIf("EditShopSettings", "active") @Html.RouteIf("register", "active") @Html.RouteIf("appuserslist", "active") @Html.RouteIf("changeappuserrole", "active") @Html.RouteIf("removeappuserrole", "active") @Html.RouteIf("editappusers", "active") @Html.RouteIf("productcategorys", "active") @Html.RouteIf("createproductcategory", "active") @Html.RouteIf("editproductcategory", "active") @Html.RouteIf("confirmdeletebroker", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Ustawienia</span></a>
                <ul>
                    <li class="@Html.RouteIf("shopsettings", "active") @Html.RouteIf("CreateShopSettings", "active") @Html.RouteIf("ConfirmDeleteShopSettings", "active") @Html.RouteIf("EditShopSettings", "active")">
                        <a href="@Url.Action("shopsettings", "settings")">Ustawienia Sklepu</a>
                    </li>
                    <li class="@Html.RouteIf("register", "active") @Html.RouteIf("appuserslist", "active") @Html.RouteIf("changeappuserrole", "active") @Html.RouteIf("removeappuserrole", "active") @Html.RouteIf("editappusers", "active")">
                        <a href="@Url.Action("appuserslist", "settings")">Lista Użytkowników Aplikacji</a>
                    </li>

                    <li class="@Html.RouteIf("productcategorys", "active") @Html.RouteIf("createproductcategory", "active") @Html.RouteIf("editproductcategory", "active") @Html.RouteIf("confirmdeletebroker", "active")">
                        <a href="@Url.Action("productcategorys", "settings")">Lista Kategorii Produktów</a>
                    </li>

                    
                </ul>
            </li>
        </ul>
     </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->