﻿    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Aplikacja komisowa 1.0 - Smoczek © 2015 </span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->