﻿    <!-- HEADER -->
<header id="header">
    <div id="logo-group">
      
        <!-- PLACE YOUR LOGO HERE -->
        @*<span id="logo"> <img src="~/content/img/logo.png" alt="Cloud Centre"> </span>*@
        <!-- END LOGO PLACEHOLDER -->
        @if (Request.IsAuthenticated)
        {
            <!-- Note: The activity badge color changes when clicked and resets the number to 0
            Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
 
            <!-- END AJAX-DROPDOWN -->
        }
    </div>
    @if (Request.IsAuthenticated)
    {
    <!-- projects dropdown -->
      
    <!-- end projects dropdown -->
    }
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->