﻿<!-- collapse menu button -->
<div id="hide-menu" class="btn-header pull-right">

    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
</div>

<div class="pull-left text-right">

    <div class="top-right-username">
        @Html.CurrentUserHelper()
    </div>
</div>

<!-- Note: The activity badge color changes when clicked and resets the number to 0
Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
<!-- end collapse menu -->
<!-- #MOBILE -->
<!-- Top menu profile link : this shows only when top menu is active -->
<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
    <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
            <img src="~/content/img/avatars/AvatarSmall.png" alt="" class="online" />
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="@Url.Action("Logout", "Account")" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-lg fa-fw fa-power-off"></i> Logout</a>
            </li>
        </ul>
    </li>
</ul>





<script type="text/javascript">

   

</script>
