﻿@model CloudCentre.Models.ViewModels.SmsViewModel

<div class="container">
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="well no-padding">

                    <form action="@Url.Action("SmsMessages", "Messages")" method="POST" id="smart-form-register" class="smart-form client-form">
                        <header>
                            Formularz wiadomości Sms
                        </header>
                        @Html.AntiForgeryToken()
                        @Html.ValidationBootstrap()
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                             @Html.LabelFor(model => model.BrokersIds)
                                        <label class="select select-multiple">
                                            @Html.ListBoxFor(model => model.BrokersIds, (IEnumerable<SelectListItem>)Model.BrokerSelect, new { @class = "custom-scroll" })
                                        </label>
                                            @Html.ValidationMessageFor(model => model.BrokersIds, "", new { @class = "text-danger" })
                                            <b class="tooltip tooltip-bottom-right"> Wybierz komisantów</b>
                                        </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        @Html.LabelFor(model => model.Message)
                                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                        <b class="tooltip tooltip-bottom-right"> Wiadomosć sms do wysłania</b>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>

                            <button type="submit" class="btn bg-primary">
                             Wyślij wiadomości
                            </button>
                            @Html.ActionLink("Powrót do listy komisantów", "Brokers", "Broker", null, new { @class = "btn bg-primary" })
                        </footer>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>