﻿@model CloudCentre.Models.ViewModels.ReportViewModel
<!-- MAIN CONTENT -->
<div class="container">
    <div id="content">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="page-title txt-color-blueDark">
                    <!-- PAGE HEADER -->
                    <i class="fa fa-fw fa-sitemap"></i>
                    Lista Sprzedanych Produktów Komisantów

                </h1>
            </div>

            <div class="col-sm-12">
                <div class="">
                    <!-- widget grid -->
                    <section id="widget-grid" class="">
                        <!-- row -->
                        <div class="row">
                            <!-- SINGLE GRID -->
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <!-- NEW WIDGET START -->
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                       
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            @using (Html.BeginForm("ShowReport", "Reports", FormMethod.Post))
                                            {
                                                @Html.DropDownListFor(model => Model.BrookerId, (IEnumerable<SelectListItem>)ViewBag.BrokerViewBag, "Wybierz Komisanta", new { @class = "form-group form-control" })

                                               
                                                    <button type="submit" class="btn bg-primary">
                                                        Pokaż raport
                                                    </button>
                                                
                                            }
                                        </div>
                                        <br />
                                        <br />
                                        <div id="BrokerReport">

                                        </div>
                                    </article>
                                    <!-- WIDGET END -->
                                </div>
                            </article><!-- GRID END -->
                        </div><!-- end row -->
                    </section>
                    <!-- end widget grid -->
                </div>
            </div>
        </div>
    </div>
</div>