﻿@model CloudCentre.Models.ViewModels.SoldProductsViewModel

<div class="container">


    <form action="@Url.Action("ChangeSoldProducts", "Products")" method="POST" id="smart-form-register" class="smart-form client-form">
        <header>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model=>model.ID)
            @Html.HiddenFor(model => model.ProductID)
            Formularz edycji daty sprzedaży produktu
        </header>

        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Wybierz nową datę sprzedaży:</label>

                            <div class="input-group">
                                <input type="text" name="SoldDate" placeholder="Select a date" class="form-control datepicker" data-dateformat="yy-mm-dd" value="@Model.SoldDate.ToString("yyyy-MM-dd")" >
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>

                        </div>
                    </div>
                </section>
         
            </div>
        </fieldset>

        <footer class="pull-left">
            <button type="submit" class="btn bg-primary">
                Edytuj datę sprzedaży produktu
            </button>
            @Html.ActionLink("Powrót do listy produktów", "ShowSoldProducts", "Products", new { Id = Model.ProductID }, new { @class = "btn bg-primary" })
        </footer>

    </form>


  
</div>

