﻿@model CloudCentre.Models.ViewModels.ProductViewModel


<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="well no-padding">

                <form action="@Url.Action("ConfirmDeleteProduct", "Products")" method="POST" id="smart-form-register" class="smart-form client-form">
                    <header>
                        Formularz Usuwania produktu
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    @Html.HiddenFor(x => x.BrokerID)
                    @Html.HiddenFor(x => x.ID)
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.ProductCategoryID, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.ProductCategoryName)
                                    @Html.ValidationMessageFor(model => model.ProductCategoryID)
                                    <b class="tooltip tooltip-bottom-right"> Kategoria produktu</b>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.CatalogNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.CatalogNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numer Katalogowy" } })
                                   
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="input">
                                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ilość", @autocomplete = "off" } })
                                  
                                 
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="input">
                                    @Html.LabelFor(model => model.OrgPrice, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.OrgPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cena" } })
                                 
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="input">
                                    @Html.LabelFor(model => model.DiscountPrice, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.DiscountPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cena po przecenie" } })
                                   
                                </label>
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col  col-md-12">
                                <label class="input">
                                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                                    <b class="tooltip tooltip-bottom-right">Uwagi</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>

                        <button type="submit" class="btn bg-primary">
                            Usuń produkt
                        </button>
                        @Html.ActionLink("Powrót do listy produktów", "Products", "Products", new { brokerId = Model.BrokerID }, new { @class = "btn bg-primary" })
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>

