﻿@model CloudCentre.Models.ViewModels.ProductViewModel


<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="well no-padding">

                <form action="@Url.Action("CreateProduct", "Products")" method="POST" id="smart-form-register" class="smart-form client-form">
                    <header>
                        Formularz Wprowadzania nowego produktu
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    @Html.HiddenFor(x=>x.BrokerID)
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.ProductCategoryID, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DropDownListFor(model => model.ProductCategoryID, (IEnumerable<SelectListItem>)ViewBag.ProductCategoryViewBag, "Wybierz kategorie produktu", new { @class = "form-control", @onchange = "DisplayProductCategoryNumber(this)", @data_brokerID = Model.BrokerID })
                                    @Html.ValidationMessageFor(model => model.ProductCategoryID)
                                    <b class="tooltip tooltip-bottom-right"> Kategoria produktu</b>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.CatalogNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.CatalogNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numer Katalogowy" } })
                                    <b class="tooltip tooltip-bottom-right"> Numer dowodu osobistego komisanta</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="input">
                                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ilość", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Quantity)
                                    <b class="tooltip tooltip-bottom-right">Ilośc produktów</b>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="input">
                                    @Html.LabelFor(model => model.OrgPrice, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.OrgPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cena" } })
                                    @Html.ValidationMessageFor(model => model.OrgPrice)
                                    <b class="tooltip tooltip-bottom-right">Orginalna cena</b>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="input">
                                    @Html.LabelFor(model => model.DiscountPrice, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.DiscountPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cena po przecenie" } })
                                    @Html.ValidationMessageFor(model => model.DiscountPrice)
                                    <b class="tooltip tooltip-bottom-right">Cena Po Przecenie</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col  col-md-12">
                                <label class="input">
                                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                                    <b class="tooltip tooltip-bottom-right">Uwagi</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>

                        <button type="submit" class="btn bg-primary">
                            Zapisz produkt
                        </button>
                        @Html.ActionLink("Powrót do listy produktów", "Products", "Products", new { brokerId = Model.BrokerID }, new { @class = "btn bg-primary" })
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function DisplayProductCategoryNumber(target) {
        $.ajax({
            async: true,
            url: '/Products/RetriveLastProductNumber',
            data: {
                productCategoryId: target.value,
                brokerId: $("#ProductCategoryID").data('brokerid')
            },
        }).success(function (data) {
            var items = "";
            $("#CatalogNumber").val(data);
        });
    }

</script>
