﻿@model IEnumerable<CloudCentre.Models.ViewModels.BrokerViewModel>

@Html.Partial("_ShowMessage")
<div class="container">
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <!-- PAGE HEADER -->
                    <i class="fa fa-fw fa-sitemap"></i>
                    Lista komisantów sklepu

                </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <!-- sparks -->
                <ul id="sparks">
                    <li class="sparks-info">
                        <h5> Lista komisantów  <span class="txt-color-blue">@Model.Count()</span></h5>
                    </li>

                </ul>
                <!-- end sparks -->
            </div>
            <div class="col-sm-12">
                <div class="well well-light">
                    <!-- widget grid -->
                    <section id="widget-grid" class="">
                        <!-- row -->
                        <div class="row">
                            <!-- SINGLE GRID -->
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <!-- NEW WIDGET START -->
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="text-left">
                                            Lista komisatntów aplikacji - umozliwia dodawania noych komisantór oraz edycje przedmiotów komisanta
                                        </p>

                                        <a href="@Url.Action("CreateBroker", "Broker")" id="add_item" title="Add a User"><span class="btn bg-primary"><i class="glyphicon glyphicon-plus"></i> Dodaj komisanta</span></a>
                                        <br />
                                        <br />
                                        <!-- Widget ID (each widget will need unique ID)-->
                                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-3"
                                             data-widget-colorbutton="false"
                                             data-widget-editbutton="false"
                                             data-widget-togglebutton="false"
                                             data-widget-deletebutton="false"
                                             data-widget-fullscreenbutton="false"
                                             data-widget-custombutton="false"
                                             data-widget-collapsed="false"
                                             data-widget-sortable="false">


                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                <h2>Lista komisatntów</h2>
                                            </header>
                                            <!-- widget div-->
                                            <div>
                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->
                                                <!-- widget content -->
                                                <div class="widget-body no-padding">
                                                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover">

                                                        <thead>
                                                            <tr>
                                                                <th data-hide="expand">Numer Umowy</th>
                                                                <th data-hide="expand">Imię</th>
                                                                <th data-hide="expand">Nazwisko</th>
                                                                <th data-hide="expand">Dowód Osobisty</th>
                                                                <th data-hide="expand">Adres</th>
                                                                <th data-hide="expand">Akcja</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Contract)
                                                                    </td>


                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.FirstName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.LastName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Card)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Address)
                                                                    </td>


                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <a class="btn btn-xs btn-default btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"> Akcje <span class="caret"></span></a>
                                                                            <ul class="dropdown-menu">
                                                                                <li>
                                                                                    @Html.ActionLink("Edytuj Komisanta", "EditBroker", new { Id = item.ID })
                                                                                </li>
                                                                                <li class="divider"></li>
                                                                                <li>
                                                                                    @Html.ActionLink("Usuń Komisanta", "ConfirmDeleteBroker", new { Id = item.ID })
                                                                                </li>
                                                                                <li class="divider"></li>
                                                                                <li>
                                                                                    @Html.ActionLink("Pokaż Przedmioty Komisanta", "Products", "Products", new { brokerId = item.ID }, null)
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>

                                                    </table>
                                                </div>
                                                <!-- end widget content -->
                                            </div>
                                            <!-- end widget div -->

                                        </div>
                                        <!-- end widget -->
                                    </article>
                                    <!-- WIDGET END -->
                                </div>
                            </article><!-- GRID END -->
                        </div><!-- end row -->
                    </section>
                    <!-- end widget grid -->
                </div>
            </div>
        </div>
    </div>

</div> 
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">

                // DO NOT REMOVE : GLOBAL FUNCTIONS!

                $(document).ready(function () {

                    /* // DOM Position key index //

                    l - Length changing (dropdown)
                    f - Filtering input (search)
                    t - The Table! (datatable)
                    i - Information (records)
                    p - Pagination (paging)
                    r - pRocessing
                    < and > - div elements
                    <"#id" and > - div with an id
                    <"class" and > - div with a class
                    <"#id.class" and > - div with an id and class

                    Also see: http://legacy.datatables.net/usage/features
                    */

                    /* BASIC ;*/
                    var responsiveHelper_dt_basic = undefined;
                    var responsiveHelper_datatable_fixed_column = undefined;
                    var responsiveHelper_datatable_col_reorder = undefined;
                    var responsiveHelper_datatable_tabletools = undefined;

                    var breakpointDefinition = {
                        tablet: 1024,
                        phone: 480
                    };

                    $('#dt_basic').dataTable({
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_dt_basic) {
                                responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_dt_basic.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_dt_basic.respond();
                        }
                    });

                    /* END BASIC */

                    /* COLUMN FILTER  */
                    var otable = $('#datatable_fixed_column').DataTable({
                        //"bFilter": false,
                        //"bInfo": false,
                        //"bLengthChange": false
                        //"bAutoWidth": false,
                        //"bPaginate": false,
                        //"bStateSave": true // saves sort state using localStorage
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                                "t" +
                                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_fixed_column) {
                                responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_fixed_column.respond();
                        }

                    });

                    // custom toolbar
                    $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

                    // Apply the filter
                    $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                        otable
                            .column($(this).parent().index() + ':visible')
                            .search(this.value)
                            .draw();

                    });
                    /* END COLUMN FILTER */

                    /* COLUMN SHOW - HIDE */
                    $('#datatable_col_reorder').dataTable({
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                                "t" +
                                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_col_reorder) {
                                responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_col_reorder.respond();
                        }
                    });

                    /* END COLUMN SHOW - HIDE */

                    /* TABLETOOLS */
                    $('#datatable_tabletools').dataTable({

                        // Tabletools options:
                        //   https://datatables.net/extensions/tabletools/button_options
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                                "t" +
                                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                        "oTableTools": {
                            "aButtons": [
                            "copy",
                            "csv",
                            "xls",
                               {
                                   "sExtends": "print",
                                   "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                               }
                            ],
                            "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                        },
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_tabletools) {
                                responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_tabletools.respond();
                        }
                    });

                    /* END TABLETOOLS */
                })

    </script>
}
