﻿@model CloudCentre.Models.ViewModels.BrokerViewModel

<div class="container">
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="well no-padding">
                    <form action="@Url.Action("ConfirmDeleteBroker", "Broker")" method="POST" id="smart-form-register" class="smart-form client-form">
                        <header>
                            Czy napewno czcesz usunąc tego komisanta
                        </header>
                        @Html.HiddenFor(x => x.ID)
                        @Html.AntiForgeryToken()
                        @Html.ValidationBootstrap()

                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="input">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Imię", @autocomplete = "off" } })
                                        <b class="tooltip tooltip-bottom-right">Imię</b>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="input">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwisko" } })
                                        <b class="tooltip tooltip-bottom-right">Nazwisko</b>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>

                            <button type="submit" class="btn bg-primary">
                                Usuń komisanta
                            </button>
                            @Html.ActionLink("Powrót do listy komisantów", "Brokers", "Broker", null, new { @class = "btn bg-primary" })
                        </footer>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

