﻿@model CloudCentre.Models.ViewModels.BrokerViewModel

<div class="container">
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="well no-padding">
                    <form action="@Url.Action("EditBroker", "Broker")" method="POST" id="smart-form-register" class="smart-form client-form">
                        <header>
                            Formularz edycji komisanta
                        </header>
                        @Html.HiddenFor(x => x.ID)
                        @Html.AntiForgeryToken()
                        @Html.ValidationBootstrap()
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        @Html.LabelFor(model => model.Contract, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.Contract, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numer Umowy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Contract)
                                        <b class="tooltip tooltip-bottom-right"> Numer umowy komisanta</b>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        @Html.LabelFor(model => model.Card, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.Card, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numer Dowodu osobistego" } })
                                        @Html.ValidationMessageFor(model => model.Card)
                                        <b class="tooltip tooltip-bottom-right"> Numer dowodu osobistego komisanta</b>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="input">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Imię", @autocomplete = "off" } })
                                        <b class="tooltip tooltip-bottom-right">Imię</b>
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="input">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwisko" } })
                                        <b class="tooltip tooltip-bottom-right">Nazwisko</b>
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="input">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres zamieszkania" } })
                                        <b class="tooltip tooltip-bottom-right">Adress Zamieszkania</b>
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefon", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                        <b class="tooltip tooltip-bottom-right">Numer Telefonu</b>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
                                        @Html.ValidationMessageFor(model => model.Email)
                                        <b class="tooltip tooltip-bottom-right">Email</b>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>

                            <button type="submit" class="btn bg-primary">
                                Edutuj komisanta
                            </button>
                            @Html.ActionLink("Powrót do listy komisantów", "Brokers", "Broker", null, new { @class = "btn bg-primary" })
                        </footer>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


