﻿@model CloudCentre.DAL.Models.ConfirmPasswordResetViewModel

@{
    ViewBag.PageId = "lock-page";
    ViewBag.PageClass = "animated fadeInDown";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId" class="@Settings.CurrentTheme">
<head>
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Cloud Centre Portal </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- #CSS Links -->
    <!-- Basic Styles -->
    @Styles.Render("~/content/smartadmin")
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<body>
    <div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div class="loginscreen animated flipInY">
            <div class="logo">
                @*<img src="~/content/img/logo1.png" alt="" />*@
            </div>
            <div class="well no-padding">
                <div id="content" class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                            <div class="well no-padding">
                                @using (Html.BeginForm("ConfirmPasswordResset", "account", FormMethod.Post, new { @id = "login-form", @class = "smart-form client-form" }))
                                {
                                    <header>
                                        <h2>Password Resset</h2>
                                    </header>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.ValidationBootstrap()
                              
                                        @Html.HiddenFor(x => x.Token)
                                        @Html.HiddenFor(x => x.Id)
                                        <fieldset>
                                            <section>
                                                <label class="label">Nowe Hasło</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    @Html.EditorFor(model => model.NewPassword)
                                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Wpisz nowe hasło</b>
                                                </label>
                                            </section>
                                        </fieldset>
                                        <footer>
                                            <button type="submit" class="btn btn-primary">
                                                Zapisz
                                            </button>
                                        </footer>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <span>Aplikacja komisowa 1.0 <span class="hidden-xs"> - Smoczek</span> © 2015</span>
            </div>
        </div>

    </div>
    @{ Html.RenderPartial("_Scripts");}
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
</body>
</html>