﻿@model AccountRegistrationModel

<div id="content" class="container">
    <div class="row">
     
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="well no-padding">
                <form action="@Url.Action("register", "account")" method="POST" id="smart-form-register" class="smart-form client-form">
                    <header>
                        Rejestracja nowego użytkownika
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwa uzytkownika", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right"> Nazwa użytkownika w systemie</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres email", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Adres e-mail -wymagany do potwierdzenia konta</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                @Html.EditorFor(model => model.EmailConfirm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Potwierdz email", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Adres e-mail - wymagany do potwierdzenia konta</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hasło" , @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Hasło</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Potwierdz hasło", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Hasło</b>
                            </label>
                        </section>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Imię" } })
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwisko" } })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="select">
                                    @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewBag.AppRoles, "Wybierz rolę", new { @class = "form-control" })
                                    <i></i>
                                </label>
                            </section>
                         </div>
                    </fieldset>
                    <footer>
                       
                        <button type="submit" class="btn bg-primary">
                            Dodaj nowego użytkownika
                        </button>
                        @Html.ActionLink("Powrót do listy użytkowników", "AppUsersList", "Settings", null, new { @class = "btn bg-primary" })
                    </footer>
                
                </form>
            </div>
        </div>
    </div>
</div>



@section pagespecific{
    <script type="text/javascript">
        // Validation
        $(function () {
            // Validation
            $("#smart-form-register").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    emailConfirm: {
                        required: true,
                        email: true,
                        equalTo: '#email'
                    },
                    password: {
                        required: true,
                        minlength: 4,
                        maxlength: 20
                    },
                    passwordConfirm: {
                        required: true,
                        minlength: 4,
                        maxlength: 20,
                        equalTo: '#password'
                    },
                    firstname: {
                        required: false
                    },
                    lastname: {
                        required: false
                    },
                    gender: {
                        required: false
                    },
                    terms: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    emailConfirm: {
                        required: 'Please enter your email address one more time',
                        email: 'Please enter a VALID email address',
                        equalTo: 'Please enter the same email address as above'
                    },
                    password: {
                        required: 'Please enter your password'
                    },
                    passwordConfirm: {
                        required: 'Please enter your password one more time',
                        equalTo: 'Please enter the same password as above'
                    },
                    terms: {
                        required: 'You must agree with Terms and Conditions'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}