﻿/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
/*.smart-form {
    .input {
        input {
            padding: 4px 10px !important;
        }
    }
}*/
/* SmartForm Bootstrap Validation */
#extr-page h4.paragraph-header {
  width: auto;
}
#extr-page .smart-form .alert {
  margin: 4px;
}
#extr-page .smart-form .alert li {
  margin-left: 14px;
  list-style: none;
}
#extr-page .smart-form .alert li:before {
  content: "\f071";
  font-family: FontAwesome;
  position: absolute;
  left: 14px;
}
#extr-page .smart-form div + fieldset {
  padding-top: 15px;
}


.loginscreen {
    height: auto;
    margin-top: -265px;
    margin-left: -189px;
    width: 378px;
    left: 50%;
    position: absolute;
    top: 50%;
}

.loginscreen .logo {
    padding: 15px 0;
    display: block;
}

.loginscreen .logo img {
    width: auto;
}
.loginscreen .logo>:first-child {
    display: block;
    margin: 0 auto;
}
.loginscreen .logo+div {
    background: #fff;
    box-shadow: -31px 32px 53px rgba(0,0,0,.2);
    overflow: hidden;
    position: relative;
}
@media (max-width: 767px) {
    .loginscreen {
        height: auto;
        left: 5%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        width: 90%;
        text-align: center;
    }
}

.validation-summary-errors ul {
    list-style-type: none;
}

.smart-style-3 #header {
    background-color:#fff;
}

