﻿@model CloudCentre.DAL.ViewModels.AppIdentityUserViewModel
<div id="content" class="container text-center">
    <div class="well well-light col-md-12">
        @using (Html.BeginForm("ChangeAppUserRole", "Settings", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
           
            <div class="form-group row col-md-12">
                <div class="col-md-4">
                </div>
              
                <div class="col-md-4">
                    @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-12" })
                    @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewBag.AppRoles, "Wybierz nową rolę", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                <div class="col-md-4">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Powrót do listy użytkowników", "AppUsersList", null, new { @class = "btn bg-primary" })
                        <button type="submit" class="btn bg-primary">Zmień rolę</button>
                    </div>
                </div>
        }
    </div>
</div>
