﻿@model CloudCentre.DAL.ViewModels.StoreSettingsViewModel



<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa fa-fw fa-sitemap"></i>
                Usuń Ustawienia Sklepu
            </h1>
        </div>

        <div class="col-sm-12">
            <div class="well well-light">
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                        <!-- SINGLE GRID -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <!-- NEW WIDGET START -->
                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <br />
                                    <br />
                                    @using (Html.BeginForm("ConfirmDeleteShopSettings", "Settings", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(model => model.ID)
                                        @Html.HiddenFor(model => model.Name)
                                        @Html.HiddenFor(model => model.Address)
                                        @Html.AntiForgeryToken()
                                        <div class="container col-md-8">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name)
                                                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Address)
                                                @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

                                            </div>

                                            <div class="form-group">

                                                @Html.ActionLink("Powrót do ustawień sklepu", "ShopSettings", null, new { @class = "btn bg-primary" })
                                                <button type="submit" class="btn bg-primary">Usuń</button>
                                            </div>
                                        </div>
                                    }
                                </article>
                                <!-- WIDGET END -->
                            </div>
                        </article><!-- GRID END -->
                    </div><!-- end row -->
                </section>
                <!-- end widget grid -->
            </div>
        </div>
    </div>
</div>


<!-- END MAIN CONTENT -->
@section pagespecific {
    <script src="~/Scripts/app.modals.js"></script>
    <script type="text/javascript">

                // DO NOT REMOVE : GLOBAL FUNCTIONS!

                $(document).ready(function () {

                    /* // DOM Position key index //

                    l - Length changing (dropdown)
                    f - Filtering input (search)
                    t - The Table! (datatable)
                    i - Information (records)
                    p - Pagination (paging)
                    r - pRocessing
                    < and > - div elements
                    <"#id" and > - div with an id
                    <"class" and > - div with a class
                    <"#id.class" and > - div with an id and class

                    Also see: http://legacy.datatables.net/usage/features
                    */

                    /* BASIC ;*/
                    var responsiveHelper_dt_basic = undefined;
                    var responsiveHelper_datatable_fixed_column = undefined;
                    var responsiveHelper_datatable_col_reorder = undefined;
                    var responsiveHelper_datatable_tabletools = undefined;

                    var breakpointDefinition = {
                        tablet: 1024,
                        phone: 480
                    };

                    $('#dt_basic').dataTable({
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_dt_basic) {
                                responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_dt_basic.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_dt_basic.respond();
                        }
                    });

                    /* END BASIC */

                    /* COLUMN FILTER  */
                    var otable = $('#datatable_fixed_column').DataTable({
                        //"bFilter": false,
                        //"bInfo": false,
                        //"bLengthChange": false
                        //"bAutoWidth": false,
                        //"bPaginate": false,
                        //"bStateSave": true // saves sort state using localStorage
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                                "t" +
                                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_fixed_column) {
                                responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_fixed_column.respond();
                        }

                    });

                    // custom toolbar
                    $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

                    // Apply the filter
                    $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                        otable
                            .column($(this).parent().index() + ':visible')
                            .search(this.value)
                            .draw();

                    });
                    /* END COLUMN FILTER */

                    /* COLUMN SHOW - HIDE */
                    $('#datatable_col_reorder').dataTable({
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                                "t" +
                                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_col_reorder) {
                                responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_col_reorder.respond();
                        }
                    });

                    /* END COLUMN SHOW - HIDE */

                    /* TABLETOOLS */
                    $('#datatable_tabletools').dataTable({

                        // Tabletools options:
                        //   https://datatables.net/extensions/tabletools/button_options
                        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                                "t" +
                                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                        "oTableTools": {
                            "aButtons": [
                            "copy",
                            "csv",
                            "xls",
                               {
                                   "sExtends": "pdf",
                                   "sTitle": "SmartAdmin_PDF",
                                   "sPdfMessage": "SmartAdmin PDF Export",
                                   "sPdfSize": "letter"
                               },
                               {
                                   "sExtends": "print",
                                   "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                               }
                            ],
                            "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                        },
                        "autoWidth": true,
                        "preDrawCallback": function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper_datatable_tabletools) {
                                responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                            }
                        },
                        "rowCallback": function (nRow) {
                            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                        },
                        "drawCallback": function (oSettings) {
                            responsiveHelper_datatable_tabletools.respond();
                        }
                    });

                    /* END TABLETOOLS */
                })

    </script>
}
