﻿@model CloudCentre.Models.ViewModels.ProductCategoryViewModel


<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="well no-padding">
                <form action="@Url.Action("ConfirmDeleteProductCategory", "Settings")" method="POST" id="smart-form-register" class="smart-form client-form">
                    <header>
                        Czy napewno czcesz usunąc tą kategorię
                    </header>
                    @Html.HiddenFor(x => x.ID)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()

                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <label class="input">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwa kategori" } })
                                    <b class="tooltip tooltip-bottom-right"> Nazwa kategori produktu</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>

                        <button type="submit" class="btn bg-primary">
                            Usuń Kategorię
                        </button>
                        @Html.ActionLink("Powrót do listy kategorii", "ProductCategorys", "Settings", null, new { @class = "btn bg-primary" })
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>


