﻿@model CloudCentre.Models.ViewModels.ProductCategoryViewModel


<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="well no-padding">

                <form action="@Url.Action("CreateProductCategory", "Settings")" method="POST" id="smart-form-register" class="smart-form client-form">
                    <header>
                        Formularz Wprowadzania nowej kategori
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                <label class="input">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwa kategori" } })
                                    <b class="tooltip tooltip-bottom-right"> Nazwa kategori produktu</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.StartNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.StartNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Początek numeracji" } })
                                    @Html.ValidationMessageFor(model => model.StartNumber)
                                    <b class="tooltip tooltip-bottom-right">Imię</b>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.EndNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.EndNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Koniec numeracji" } })
                                    @Html.ValidationMessageFor(model => model.EndNumber)
                                    <b class="tooltip tooltip-bottom-right">Nazwisko</b>
                                </label>
                            </section>
                            
                        </div>
                    </fieldset>
                    <footer>

                        <button type="submit" class="btn bg-primary">
                            Zapisz Kategorię
                        </button>
                        @Html.ActionLink("Powrót do listy kategori", "ProductCategorys", "Settings", null, new { @class = "btn bg-primary" })
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>

