﻿@model CloudCentre.Models.ViewModels.IdentityUserEditViewModel


<div id="content" class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="well no-padding">
                <form action="@Url.Action("EditAppUsers", "Settings")" method="POST" id="smart-form-register" class="smart-form client-form">
                    @Html.HiddenFor(x => x.Id)
                    <header>
                        Edycja użytkownika
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="input">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-12" })
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwa uzytkownika", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right"> Nazwa użytkownika w systemie</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                               
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres email", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Adres e-mail -wymagany do potwierdzenia konta</b>
                            </label>
                        </section>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Imię" } })
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwisko" } })
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>

                        <button type="submit" class="btn bg-primary">
                            Edytuj użytkownika
                        </button>
                        @Html.ActionLink("Powrót do listy użytkowników", "AppUsersList", "Settings", null, new { @class = "btn bg-primary" })
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>


