﻿@model CloudCentre.DAL.ViewModels.AppIdentityUserViewModel
<div id="content" class="container text-center">
    <div class="well well-light col-md-12">
        @using (Html.BeginForm("RemoveAppUserRole", "Settings", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)

            <h3>Czy napewno usunąć tego użytkownika?</h3>

            <div class="form-group row">
                <div class="col-md-4">
                </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Powrót do listy użytkowników", "AppUsersList", null, new { @class = "btn bg-primary" })
                        <button type="submit" class="btn bg-primary">Usuń użytkownika</button>
                    </div>
            </div>
        }
    </div>
</div>